/*------------------
     general
------------------*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%; 
  font-weight: normal;
  font-style: normal;
  color: #003352;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

article {
	min-height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

section {
  padding: 5rem 0;
}

@media screen and (min-width: 768px) {
  section {
    padding: 7.5rem 0;
  }
}

@media screen and (min-width: 992px) {
  .logo {
    margin-top: 11rem;
  }
}

/*------------------
       fonts
------------------*/
.page-title {
  margin-top: 5rem;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.section-title {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.section-subtitle {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.intro-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media screen and (min-width: 576px) {
  .page-title {
    font-size: 5.5rem;
  }
  .section-title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 6.5rem;
    letter-spacing: -0.2rem;
  }
  .section-title {
    font-size: 5rem;
  }
  .section-subtitle {
    font-size: 2.2rem;
    letter-spacing: -0.05rem;
  }
  .intro-text {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 992px) {
  .page-title {
    margin-top: 10rem;
    font-size: 7.5rem;
  }
  .section-title {
    font-size: 6rem;
    letter-spacing: -0.2rem;
  }
  .intro-text {
    font-size: 2rem;
    line-height: 3rem;
  }
}


/*------------------
       lists
------------------*/
.service-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.service-list__item {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.benefits-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.benefits-list__item {
  padding: 1.5rem 0 0 2.5rem;
}

.benefits-list__item::before {
  position: absolute;
  content: "✔";
  margin-left: -2.5rem;
}

.services {
  padding-bottom: 5rem;
}

.sub-list__item {
  padding-top: 1rem;
}


/*------------------
    modal lists
------------------*/
.modal .modal-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0;
  padding-left: 0;
}

.modal .modal-list .modal-list__item {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.modal .modal-list .modal-list__item {
  border: 1px solid rgba(0,0,0,.15);
  list-style-type: none;
  position: relative;
  margin: 0 -1px -1px 0;
  padding: 2.5rem 1.5rem;
  font-size: 1.6rem;
}

.modal .modal-list .modal-list__item:nth-of-type(1) {
  width: 100%;
  width: calc(100% - 1px);
  padding: 3rem 0;
}

#program-promo {
  padding-top: 5rem;
}


/*------------------
      footer
------------------*/
footer {
  padding: 10rem 0;
}

.copy {
  display: block;
  font-size: 1.6rem;
}

.heavy {
  font-weight: 700;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .footer-list {
    float: right;
  }
}

.footer-list__item a {
  color: inherit;
}









