/*------------------
     general
------------------*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
  font-family: 'Rokkitt', serif;
  font-size: 62.5%; 
  font-weight: normal;
  font-style: normal;
  color: #003352;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

article {
	min-height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
}

section {
  outline: none;
}

.blue {
  background: #003352;
  color: #fff;
}

.lime {
  background: #cddb00;
  color: #003352;
}

.grey {
  background: #e8e5de;
  color: #003352;
}


/*------------------
      header
------------------*/
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 5rem 0 10rem;
  border-top: 5px solid #cddb00;
}

.logo {
  float: left;
}

.logo a {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

.main-menu {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  text-align: right;
  margin-bottom: 1.5rem;
}

.link {
  display: inline;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  left: 0;
  width: 0;
  bottom: -3px;
  background: #fff;
  transition-property: width;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}

.link:hover:after,
.link:focus:after,
.link:active:after {
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-menu__item {
    display: inline-block;
    padding-left: 2.5rem;
    margin-bottom: 0;
  }
  .link {
    color: #003352;
  }
  .link:after {
    background: #003352;
  }
}


/*------------------
      sections
------------------*/
.content {
  padding: 5rem 2.5rem;
}

.content-title {
  font-family: 'Helvetica', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -0.35rem;
}

.content-subtitle {
  font-family: 'Helvetica', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.25rem;
}

.content-list-title {
  font-family: 'Helvetica', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.content-text {
  font-size: 2.2rem;
}

.content-id {
  font-size: 1.8rem;
}

.content-id:before {
  content: ""; 
  display: block;
  margin-bottom: 1rem;
  width: 75px;
  border-bottom: 2px solid;
  border-color: inherit;
}

@media screen and (min-width: 992px) {
  .content {
    padding: 7.5rem 2.5rem;
  }
  .content-title {
    font-size: 9rem;
  }
  .content-text {
    font-size: 2.6rem;
  }
}

.service-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-list__item {
  display: inline;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.service-list__item:before {
  content: '/ ';
}

.benefits-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.benefits-list__item {
  padding: 1.5rem 0 0 2.5rem;
  font-size: 2.2rem;
}

.benefits-list__item:before {
  position: absolute;
  content: "✔";
  margin-left: -2.5rem;
}

.lime .service-list__item:before, .lime .benefits-list__item:before {
  color: #ffffff;
}

.blue .service-list__item:before, .blue .benefits-list__item:before {
  color: #cddb00;
}

/*------------------
      footer
------------------*/
footer {
  padding: 2rem 0 5rem;
  border-top: 1px solid rgba(0,0,0,.15);
}

footer span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

footer span:nth-of-type(1) {
  margin: 4rem 0 3rem;
  opacity: .5;
}

.footer-link {
  text-decoration: none;
  color: #003352;
}

#copyright {
  padding: 2.5rem 0;
  background: #003352;
}

.copyright-text {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  opacity: .6;
}


