/*------------------
     general
------------------*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%; 
  font-weight: 300;
  font-style: normal;
  color: #003352;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

article {
	min-height: 100%;
	width: 100%;
	margin: 0;
  padding: 0;
}

section, footer, div {
  outline: none;
  clear: both;
}


/*------------------
      header
------------------*/
header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-bottom: 3.5rem;
  background: #003352;
}

.logo {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.logo img {
  display: block;
  margin: 0 auto;
}

nav {
  position: absolute;
  z-index: 1;
  height: 7rem;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

.sticky {
  position: fixed;
  top: 0;
}

.main-menu {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
  background: #cddb00;
}

.main-menu__item {
  display: inline-block;
  padding: 2.5rem 1.5rem;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
}

.main-menu__item .link {
  font-size: 1.8rem;
  color: #003352;
  text-decoration: none;
  -webkit-transition: color .25s ease-in-out;
     -moz-transition: color .25s ease-in-out;
       -o-transition: color .25s ease-in-out;
          transition: color .25s ease-in-out;
}

.main-menu__item .link:hover, .main-menu__item .link:focus {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    padding-bottom: 0rem;
  }
  nav {
    position: absolute;
    width: 50%;
    left: 90%;
    transform: translate(-90%, 0);
  }
  .logo {
    float: left;
    text-align: left;
  }
  .logo img {
    margin: 0;
  }
  .main-menu {
    float: right;
  }
  .main-menu__item {
    padding: 2.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .main-menu__item {
    padding: 2.5rem 5rem;
  }
}


/*------------------
      sections
------------------*/
#intro {
  padding: 12.5rem 0 5rem;
}

.service {
  padding: 2.5rem 0;
}

#connected-health, #care {
  background: #f5f7d3;
}

.service {
  padding: 5rem 0;
}

.quote {
  padding: 5rem 0;
  background: #003352;
  color: #ffffff;
}

.content {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  #connected-health, #outcomes, #care {
    background: url(../images/slanted-bg-lte.png) no-repeat;
    background-position: left bottom;
    background-size: 30%;
    background: #f5f7d3;
  }
  #access-savings, #education {
    background: url(../images/slanted-bg-drk.png) no-repeat;
    background-position: right bottom;
    background-size: 30%;
    background: #ffffff;
  }
  .service, .quote {
    padding: 5rem 0;
  }
  .content {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .service, .quote {
    padding: 10rem 0;
  }
  .content {
    padding: 0 5rem;
  }
}


/*------------------
       fonts
------------------*/
.content-subtitle {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.25rem;
}

.content-quote {
  margin-bottom: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
}

.content-list-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: 'Helvetica', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.content-text {
  font-size: 2rem;
}

.content-id {
  display: block;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
}

.content-id:before {
  content: ""; 
  display: block;
  margin-bottom: 1rem;
  width: 75px;
  border-bottom: 2px solid;
  border-color: inherit;
}

.service-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-list__item {
  display: inline;
  font-size: 2rem;
  line-height: 3.4rem;
}

.service-list__item:before {
  content: '/ ';
}

.benefits-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.benefits-list__item {
  padding: 1.5rem 0 0 2.5rem;
  font-size: 2rem;
}

.benefits-list__item:before {
  position: absolute;
  content: "✔";
  margin-left: -2.5rem;
}

.lime .service-list__item:before, .lime .benefits-list__item:before {
  color: #ffffff;
}

.blue .service-list__item:before, .blue .benefits-list__item:before {
  color: #cddb00;
}

.modal .modal-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0 0;
  padding-left: 0;
}

.modal .modal-list .modal-list__item {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.modal .modal-list .modal-list__item {
  border: 1px solid #003352;
  list-style-type: none;
  position: relative;
  margin: 0 -1px -1px 0;
  padding: 2.5rem 1.5rem;
  font-size: 2rem;
}

.modal .modal-list .modal-list__item:nth-of-type(1) {
  width: 100%;
  width: calc(100% - 1px);
  padding: 3rem 0;
}

@media screen and (min-width: 992px) {
  .content-subtitle {
    font-size: 6rem;
    letter-spacing: -0.2rem;
  }
  .content-quote {
    font-size: 5rem;
    letter-spacing: -0.2rem;
  }
}

#patient-quote {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../images/mother_child.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

#patient-edu {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../images/nurse_educator.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

#nurse-clinician {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../images/prescription.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

#oncology-patient {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../images/patient_leaving_hospital.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}


/*------------------
       team
------------------*/
#team {
  padding: 10rem 0 4.5rem;
}

.profile {
  z-index: 0;
  margin-bottom: 7.5rem;
  background: #003352;
}

.profile:after {
  position: absolute;
  background: inherit;
  content: '';
  display: block;
  height: 30px;
  margin-top: -30px;
  right:16px;
  left: 15px;
  -webkit-transform: skewY(-2.5deg);
     -moz-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
  transform-origin: 100%; 
}

.bio {
  z-index: 1;
  margin-top: -1rem;
  padding: 3.5rem 1.5rem;
  font-size: 2rem;
  background: #003352;
  color: #ffffff;
}

.name {
  display: block;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  color: #cddb00;
}

.phone, .email {
  display: block;
  padding-top: 1rem;
}

.bio a {
  text-decoration: none;
  color: inherit;
}


/*------------------
      footer
------------------*/
footer {
  padding: 2rem 0 5rem;
  border-top: 1px solid rgba(0,0,0,.15);
}

footer span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

footer span:nth-of-type(1) {
  margin: 4rem 0 3rem;
  opacity: .5;
}

.footer-link {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #003352;
}

.footer-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  left: 0;
  width: 0;
  bottom: -3px;
  background: #003352;
  transition-property: width;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}

.footer-link:hover:after,
.footer-link:focus:after,
.footer-link:active:after {
  left: 0;
  right: 0;
  width: 100%;
}

#copyright {
  padding: 2.5rem 0;
  background: #003352;
}

.copyright-text {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  opacity: .6;
}


